# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/html-archives
/node_modules
/node_modules/**
/.history
/.history/**
/mysql-full-dump
/mysql-full-dump/**
/.git
/.git/**
# next.js
/.next
/out
# production
/build
/build/**

.env
.env.*
/.pnp
.pnp.js

# testing
/coverage



# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
