/html-archives
/node_modules
/node_modules/**
/.history
/.history/**
/mysql-full-dump
/mysql-full-dump/**
/.git
/.git/**
/.next
/out
/build
/build/**
/.pnp
.pnp.js
/coverage
.DS_Store
*.pem
*.scrt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vercel
*.tsbuildinfo
*.secret.sql
.env
.env.*
.env.local
.env.development
.env.production
*Zone.Identifier
/webpack-define-plugin/**
