:root {
  --landing-font-family: "Noto Sans", Arial, sans-serif;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --primary: #c7004c;
  --primary-darker: #74002c;
  --primary-hover: #550023;
  --primary-loading: #411527;
  --primary-2: #000957;
  --secondary: #685500;
  --secondary-2: #00ace0;
  --selection: var(--cyan);

  --primary-hover-color: #00365a;

  --text-base: #000000;
  --text-primary: #004d80;
  --text-secondary: white;

  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #ff0000;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet: #5f3dc4;
  --violet-light: #7048e8;
  --accents-0: #f8f9fa;
  --accents-1: #f1f3f5;
  --accents-2: #e9ecef;
  --accents-3: #dee2e6;
  --accents-4: #ced4da;
  --accents-5: #adb5bd;
  --accents-6: #868e96;
  --accents-7: #495057;
  --accents-8: #343a40;
  --accents-9: #212529;
  --input-bg-color: rgba(21, 25, 29, 0.5);
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue",
    "Helvetica", sans-serif;
}
