@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Regular.eot");
  src:
    local("Noto Sans Regular"),
    local("NotoSans-Regular"),
    url("/fonts/noto-sans/NotoSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Regular.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Regular.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-SemiBold.eot");
  src:
    local("Noto Sans SemiBold"),
    local("NotoSans-SemiBold"),
    url("/fonts/noto-sans/NotoSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-SemiBold.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-SemiBold.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Italic.eot");
  src:
    local("Noto Sans Italic"),
    local("NotoSans-Italic"),
    url("/fonts/noto-sans/NotoSans-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Italic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Italic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Bold.eot");
  src:
    local("Noto Sans Bold"),
    local("NotoSans-Bold"),
    url("/fonts/noto-sans/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Bold.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Bold.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Black.eot");
  src:
    local("Noto Sans Black"),
    local("NotoSans-Black"),
    url("/fonts/noto-sans/NotoSans-Black.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Black.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Black.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-ExtraBold.eot");
  src:
    local("Noto Sans ExtraBold"),
    local("NotoSans-ExtraBold"),
    url("/fonts/noto-sans/NotoSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-ExtraBold.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-ExtraBold.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-BlackItalic.eot");
  src:
    local("Noto Sans Black Italic"),
    local("NotoSans-BlackItalic"),
    url("/fonts/noto-sans/NotoSans-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-BlackItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-BlackItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-BoldItalic.eot");
  src:
    local("Noto Sans Bold Italic"),
    local("NotoSans-BoldItalic"),
    url("/fonts/noto-sans/NotoSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-BoldItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-BoldItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-LightItalic.eot");
  src:
    local("Noto Sans Light Italic"),
    local("NotoSans-LightItalic"),
    url("/fonts/noto-sans/NotoSans-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-LightItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-LightItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-ExtraBoldItalic.eot");
  src:
    local("Noto Sans ExtraBold Italic"),
    local("NotoSans-ExtraBoldItalic"),
    url("/fonts/noto-sans/NotoSans-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-ExtraBoldItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-ExtraLightItalic.eot");
  src:
    local("Noto Sans ExtraLight Italic"),
    local("NotoSans-ExtraLightItalic"),
    url("/fonts/noto-sans/NotoSans-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-ExtraLightItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Light.eot");
  src:
    local("Noto Sans Light"),
    local("NotoSans-Light"),
    url("/fonts/noto-sans/NotoSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Light.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Light.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-ExtraLight.eot");
  src:
    local("Noto Sans ExtraLight"),
    local("NotoSans-ExtraLight"),
    url("/fonts/noto-sans/NotoSans-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-ExtraLight.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-ExtraLight.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-MediumItalic.eot");
  src:
    local("Noto Sans Medium Italic"),
    local("NotoSans-MediumItalic"),
    url("/fonts/noto-sans/NotoSans-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-MediumItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-MediumItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Medium.eot");
  src:
    local("Noto Sans Medium"),
    local("NotoSans-Medium"),
    url("/fonts/noto-sans/NotoSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Medium.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Medium.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-ThinItalic.eot");
  src:
    local("Noto Sans Thin Italic"),
    local("NotoSans-ThinItalic"),
    url("/fonts/noto-sans/NotoSans-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-ThinItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-ThinItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-Thin.eot");
  src:
    local("Noto Sans Thin"),
    local("NotoSans-Thin"),
    url("/fonts/noto-sans/NotoSans-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-Thin.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-Thin.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans/NotoSans-SemiBoldItalic.eot");
  src:
    local("Noto Sans SemiBold Italic"),
    local("NotoSans-SemiBoldItalic"),
    url("/fonts/noto-sans/NotoSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/noto-sans/NotoSans-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/noto-sans/NotoSans-SemiBoldItalic.woff") format("woff"),
    url("/fonts/noto-sans/NotoSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
