@import "@styles/fonts/gotham.css";
@import "@styles/fonts/segoe-ui.css";
@import "@styles/fonts/roboto.css";
@import "@styles/fonts/inter.css";

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: Gotham, Arial, sans-serif;
}
// .tox-notifications-container {
//   display: none !important;
// }
.tox-editor-container .tox-promotion {
  display: none !important;
}
ul {
  padding: 1em 1em 1em 2.5em;
}
li {
  padding: 0.25em 0;
  text-indent: 0;
  font-family: Inter, Roboto, Tahoma, Verdana, Arial;
  // font-size: 1em;
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
